# copy to .env.production.local (or set in Netlify) before `npm run build`
NEXT_PUBLIC_SITE_URL=https://gnogolf.netlify.app
NEXT_PUBLIC_RPC=https://rpc.testnet.gno.land:443
NEXT_PUBLIC_WEB=https://testnet.gno.land
